<% layout('/layouts/boilerplate') -%>
<body>
	<div class="container-md">
		<h1>Settings</h1>
		<hr />
		<br />
		<div class="card mb-3">
			<div class="card-header">Empty and Reinitialize</div>
			<div class="card-body p-3">
				<p class="card-text">
					This clears all available data from database and inserts dummy data to
					reinitialize the app.
				</p>
				<a href="/settings/init" class="btn btn-primary"
					>Delete and Reinitialize</a
				>
			</div>
		</div>
	</div>
</body>
