<% layout('/layouts/boilerplate') -%>
<body>
	<div class="row mt-3 mb-3">
		<div class="col-6 offset-3">
			<h2>Signup on WanderNest</h2>
			<br />
			<form action="/signup" method="post" class="needs-validation" novalidate>
				<div class="mb-3">
					<label for="username" class="form-label">Username</label>
					<input
						type="text"
						placeholder="Add a Catchy Username"
						name="username"
						id="username"
						class="form-control"
						minlength="6"
						maxlength="16"
						value="<%= fakeUserData.username %>"
						required
					/>
					<div class="valid-feedback">Looks good!</div>
					<div class="invalid-feedback">Please enter a username.</div>
				</div>
				<div class="mb-3">
					<label for="email" class="form-label">Email</label>
					<input
						type="email"
						placeholder="Enter your Email"
						name="email"
						id="email"
						class="form-control"
						minlength="6"
						maxlength="16"
						value="<%= fakeUserData.email %>"
						required
					/>
					<div class="valid-feedback">Looks good!</div>
					<div class="invalid-feedback">
						Please enter a valid email address.
					</div>
				</div>
				<div class="mb-3">
					<label for="password" class="form-label">Password</label>
					<input
						type="password"
						placeholder="Choose a Password"
						name="password"
						id="password"
						class="form-control"
						minlength="6"
						maxlength="16"
						value="<%= fakeUserData.password %>"
						required
					/>
					<div class="valid-feedback">Looks strong!</div>
					<div class="invalid-feedback">Please choose a strong password.</div>
				</div>
				<button class="btn btn-success">SignUp</button>
			</form>
		</div>
	</div>
</body>
<script src="/js/script.js"></script>
